/* --- AJUSTES GENERALES --- */

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-white-color: #ffffff;
    --bg-soft-grey-color: #ececec;
    --text-primary-color: #1b1f21;
    --text-grey-color: #BEC1BB;
    --border-grey-color:  #E8EBE4;
    --icon-color: #444749;
    --btn-bg-color: #A491D2;
    --btn-bg-hover-color: #CDC3E6;
    --btn-bg-active-color: #D4DCFF;

    --main-border: 0.5px;

    --bt-text-size: 1em;
}

body {
    display: flex;
    font-family: "Roboto";
}

h1 {
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}

p {
    font-size: 0.87em;
    font-weight: 400;
}

small {
    font-size: 0.62em;
    font-weight: 400;
    color: var(--text-grey-color);
}

/* iconos */
i {
    font-size: 1.3em;
    color: var(--icon-color);
    cursor: pointer;
}

/* --- SIDE MENU --- */

.navbar {
    width: 25%;
    border: solid var(--main-border) var(--border-grey-color);
    background-color: var(--bg-white-color);
    min-height: 100dvh;
}

/* -- Profile & Contact List -- */

.profile-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    padding: 0.5em 1em;
    border: solid var(--main-border) var(--border-grey-color);
}

.profile-box:hover {
    background-color: var(--bg-soft-grey-color);
    transition: 0.3s;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.profile-pic {
    width: auto;
    height: 100%;
    border-radius: 100%;
    border: solid 1px var(--border-grey-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.options {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* -- New Chat Button Section */

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    border: solid var(--main-border) var(--border-grey-color);
}

.btn-chat {
    border: none;
    background-color: var(--btn-bg-color);
    color: white;
    font-size: var(--bt-text-size);
    padding: 0.5em 2em;
    border-radius: 15px;
    cursor: pointer;
}

.btn-chat:hover {
    background-color: var(--btn-bg-hover-color);
    transition: 0.3s;
    transform: scale(1.1);
}

/* BODY */

.main {
    display: flex;
    justify-content: center;
    width: 75%;
    background-color: var(--bg-soft-grey-color);
    min-height: 100dvh;
}

#default-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 35em;
    padding: 2em;
}

#logo {
    margin: 20px;
    height: 17em;
    width: 17em;
    border-radius: 20px;
}
